<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/2_Demo_Thiet_ke_huong_doi_tuong/src/quan_ly_diem/MyITCenter.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="quan_ly_diem.MyITCenter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="2_Demo_Thiet_ke_huong_doi_tuong"/>
</launchConfiguration>
