<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/2_TKHDT/strategy_Pattern_Bai_2/video_Rental/Test.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="video_Rental.Test"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="2_TKHDT"/>
</launchConfiguration>
